* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.container {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
  margin: 20px auto;
  border: 2px solid black;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #74EDDA;
  border-radius: 10px;
  cursor: pointer;
}