* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.container {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  margin: 20px auto;
  border: 2px solid black;
}

.resetButton {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  background-color: #74EDDA;
  border-radius: 10px;
  cursor: pointer;
}