* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding: 1px;
}

.resetButton {
  display: block;
  margin: 5px auto;
  padding: 20px;
  font-size: 30px;
  background-color: #74EDDA;
  border-radius: 10px;
  cursor: pointer;
}